<div class="global-navbar collapse" id="collapsibleNavbar">
  <div class="mobile-global-navbar-overlay"></div>
  <div id="ctrl-navbar-close" class="navbar-close"><span class="glyphicon glyphicon-remove"></span></div>
  <div class="navbar-items-wrapper">
    <div class="profile-wrapper" *ngIf="user_name">
      <div class="user-profile-img"></div>
      <div class="profile-name">{{user_name.user_name}}</div>
      <!-- <div class="profile-points-wrapper"> <span class="profile-points">400</span> <span class="profile-points-label">rewards points</span> </div> -->
      <!-- <div class="profile-notification">Redeem above points in membership and shopping</div> -->
    </div>
    <a href="/">Home</a>
    <div class="global-navbar-dropdown">
      <!-- <div class="dropbtn">Discover <i class="glyphicon glyphicon-menu-down"></i> </div> -->
      <div class="global-navbar-dropdown-content">
        <div class="row">
          <div class="column">
            <ul>
              <li [ngClass]="{'selected-link': categoryList.id==cate_id}" *ngFor="let categoryList of categoryLists">
                <!-- <a [routerLink]="['/cate', categoryList.id]">{{categoryList.name}}</a> -->
                <a href="/cate/{{categoryList.id}}">{{categoryList.name}}</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <!-- <div class="global-navbar-dropdown">
      <div class="dropbtn">Fitness Store <i class="glyphicon glyphicon-menu-down"></i> </div>
      <div class="global-navbar-dropdown-content">
        <div class="row">
          <div class="column">
            <ul>
              <li><a href="#">Men</a></li>
              <li><a href="#">Women</a></li>
              <li><a href="#">Fitness Gears</a></li>
              <li><a href="#">Sports</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div> -->

  </div>
</div>