<section class="page-content">
    <div class="main-content">
        <div class="page-content-wrapper static-content-wrapper">
            <!-- main content start -->
            <!-- page title start -->
            <section class="page-header-filter-wrapper">
                <div class="header-filter-content">
                    <div class="page-header"><span class="page-title">Reset your password?</span> </div>
                </div>
            </section>
            <!-- page title end -->
            <!-- page main content start -->
            <article class="static-content">
                <div class="page-form-wrapper">
                    <div class="item-content">

                        <div class="alert alert-success col-sm-6 col-form-label" *ngIf="success">
                            {{successMessage}}
                        </div>
                        <div class="alert alert-danger col-sm-6 col-form-label" *ngIf="error">
                            {{errorMessage}}
                        </div>

                        <div class="item-content-wrapper">
                            <form (ngSubmit)="reset()" #form="ngForm" autocomplete="nope">
                                <div>
                                    <div class="col-sm-12 col-form-label">
                                        <label>Enter your new password below.</label>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label for="selectCategory" class="col-sm-12 col-form-label">Enter Password
                                        <span class="required-field">*</span></label>
                                    <div class="col-sm-6 col-form-label">
                                        <!-- <input name="user_id" #passwordFrom="ngModel" [(ngModel)]="email" type="hidden"> -->
                                        <input name="reset_password" #passwordFrom="ngModel" [(ngModel)]="password"
                                            type="password" id="input-reset-password" class="form-control" placeholder="Password"
                                            [class.form-control-danger]="passwordFrom.invalid && passwordFrom.touched"
                                            required>
                                        <!-- <label for="label-reg-password">Password</label> -->
                                        <small class="form-text error" *ngIf="passwordFrom.invalid && passwordFrom.touched && passwordFrom.errors?.required"><span
                                                class="glyphicon glyphicon-info-sign"></span> Password
                                            is required!</small>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="selectCategory" class="col-sm-12 col-form-label">Re-enter Password
                                        <span class="required-field">*</span></label>
                                    <div class="col-sm-6 col-form-label">
                                        <input name="reset_confirm_password" #passwordConfirmFrom="ngModel" [(ngModel)]="confirm_password"
                                            type="password" id="input-reset-confirm-password" class="form-control"
                                            placeholder="Confirm Password" [class.form-control-danger]="passwordConfirmFrom.invalid && passwordConfirmFrom.touched"
                                            required>
                                        <!-- <label for="label-regconf-password">Confirm Password</label> -->
                                        <small class="form-text error" *ngIf="passwordConfirmFrom.invalid && passwordConfirmFrom.touched && passwordConfirmFrom.errors?.required">
                                            <span class="glyphicon glyphicon-info-sign"></span> Confrm Password
                                            is required!</small>
                                    </div>
                                </div>

                                <!-- <div class="form-group row">
                                    <label class="col-sm-12 col-form-label">Enter security code to submit reset
                                        password request</label>
                                    <div class="captcha-wrapper col-form-label"> <span class="captcha-code">WDSJL</span>
                                        <input type="text" class="captcha-field">
                                    </div>
                                </div> -->
                                <div class="col-sm-12 form-group row"><button class="button button-primary">Update My
                                        Password</button>
                                    <!-- <button class="button button-territory">Cancel</button> -->
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </article>
            <!-- page main content end-->
            <!-- main content end -->
        </div>
    </div>
</section>