<div class="page-background"> </div>
<!-- Mobile search modal start -->
<div id="mobile-search-ctrl" class="mobile-search-control"> <span id="mobile-search-close" class="glyphicon glyphicon-remove-circle"></span>
  <input type="search" placeholder="I am looking for..." class="field-search">
  <button class="btn-search">Search</button>
  <div class="recent-search-wrapper">
    <h2 class="search-heading">Recent Search</h2>
    <ul class="recent-search-items">
      <li class="search-items">Indra gandhi institue of yoga</li>
      <li class="search-items">Hype Gym</li>
      <li class="search-items">Gold Gym</li>
      <li class="search-items">Indra gandhi institue of yoga</li>
      <li class="search-items">Hype Gym</li>
    </ul>
  </div>
</div>
<!-- Mobile search modal end -->

<!--  login modal start -->
<div class="modal fade" id="LoginModal" tabindex="-1" role="dialog" aria-labelledby="LoginModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <div class="registration-features-col">
          <header class="heading">Benefits</header>
          <ul>
            <li>Publish multiple ads in <span class="highlight-text">Free</span></li>
            <li>Provide <span class="highlight-text">personalise dashboard</span> to manage posted ads after
              registration</li>
            <li>Provide ability to Share ads with friends on <span class="highlight-text">social networking</span> </li>
          </ul>
        </div>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"> <span aria-hidden="true">&times;</span>
        </button>
        <div class="login-signup-wrapper">
          <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
            <li class="nav-item"> <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home"
                role="tab" aria-controls="pills-home" aria-selected="true">Login</a> </li>
            <li class="nav-item"> <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile"
                role="tab" aria-controls="pills-profile" aria-selected="false">Register</a> </li>
          </ul>
          <div class="tab-content" id="pills-tabContent">

            <div class="alert alert-success" *ngIf="success">
              {{successMessage}}
            </div>
            <div class="alert alert-danger" *ngIf="error">
              {{errorMessage}}
            </div>

            <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
              <form (ngSubmit)="login()" #form="ngForm" autocomplete="nope">
                <div class="form-label-group">
                  <input name="email" #emailForm="ngModel" [(ngModel)]="email" id="input-email" pattern=".+@.+..+"
                    class="form-control" placeholder="Email address" [class.form-control-danger]="emailForm.invalid &&  emailForm.touched"
                    autofocus required>
                  <label for="label-email">Email</label>
                  <small class="form-text error" *ngIf=" emailForm.invalid &&  emailForm.touched &&  emailForm.errors?.required"><span
                      class="glyphicon glyphicon-info-sign"></span> Email
                    is required!</small>
                  <small class="form-text error" *ngIf=" emailForm.invalid &&  emailForm.touched &&  emailForm.errors?.pattern"><span
                      class="glyphicon glyphicon-info-sign"></span> Email
                    should be the real one!</small>
                </div>

                <div class="form-label-group">
                  <!--     <label for="input-password" class="sr-only">Password</label>-->
                  <input name="password" #passwordFrom="ngModel" [(ngModel)]="password" type="password" id="input-password"
                    class="form-control" placeholder="Password" [class.form-control-danger]="passwordFrom.invalid && passwordFrom.touched"
                    required>
                  <label for="label-password">Password</label>
                  <small class="form-text error" *ngIf="passwordFrom.invalid && passwordFrom.touched && passwordFrom.errors?.required">
                    <span class="glyphicon glyphicon-info-sign"></span>Password is required!</small>
                </div>
                <div class="form-label-group">
                  <button class="button button-primary">Sign In</button>
                </div>
              </form>
                <button class="button button-territory float-right" style="margin-top: -59px;"><a href="/forgot">Forgot Password</a></button>
                <!-- <li class="nav-item"><a href="/forgot">Forgot Password</a></li> -->
            </div>

            <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
              <!-- <form class="form-signup"> -->
              <form (ngSubmit)="register()" #form="ngForm" autocomplete="nope">
                <div class="form-label-group">
                  <input name="reg_email" #emailForm="ngModel" [(ngModel)]="email" id="input-reg-email" pattern=".+@.+..+"
                    class="form-control" placeholder="Email address" [class.form-control-danger]="emailForm.invalid &&  emailForm.touched"
                    autofocus required>
                  <label for="label-reg-email">Email</label>
                  <small class="form-text error" *ngIf=" emailForm.invalid &&  emailForm.touched &&  emailForm.errors?.required">
                    <span class="glyphicon glyphicon-info-sign"></span> Email is required!</small>
                  <small class="form-text error" *ngIf=" emailForm.invalid &&  emailForm.touched &&  emailForm.errors?.pattern"><span
                      class="glyphicon glyphicon-info-sign"></span> Email
                    should be the real one!</small>
                </div>
                <div class="form-label-group">
                  <input name="reg_password" #passwordFrom="ngModel" [(ngModel)]="password" type="password" id="input-reg-password"
                    class="form-control" placeholder="Password" [class.form-control-danger]="passwordFrom.invalid && passwordFrom.touched"
                    required>
                  <label for="label-reg-password">Password</label>
                  <small class="form-text error" *ngIf="passwordFrom.invalid && passwordFrom.touched && passwordFrom.errors?.required"><span
                      class="glyphicon glyphicon-info-sign"></span> Password
                    is required!</small>
                </div>
                <div class="form-label-group">
                  <input name="reg_confirm_password" #passwordConfirmFrom="ngModel" [(ngModel)]="confirm_password" type="password"
                    id="input-reg-confirm-password" class="form-control" placeholder="Confirm Password"
                    [class.form-control-danger]="passwordConfirmFrom.invalid && passwordConfirmFrom.touched" required>
                  <label for="label-regconf-password">Confirm Password</label>
                  <small class="form-text error" *ngIf="passwordConfirmFrom.invalid && passwordConfirmFrom.touched && passwordConfirmFrom.errors?.required">
                    <span class="glyphicon glyphicon-info-sign"></span> Confrm Password
                    is required!</small>
                </div>

                <div class="form-label-group">
                  <!-- <input type="button" class="button button-primary" value="Register"> -->
                  <button class="button button-primary">Register</button>
                </div>
              </form>
            </div>
          </div>
        </div>

        <div class="single-signup-wrapper">
          <div class="single-signup-content">
            <div class="regular-text">Sign in With</div>
            <button class="icon-gmail-signup" (click)="googleLogin()">Google
              Gmail Account</button>
            <button class="icon-facebook-signup" (click)="facebookLogin()"><img src="../../assets/images/icon-facebook-login.png">
              Facebook
              Account</button>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
<!-- login modal end -->