<section class="page-content">
    <div class="main-content">
        <div class="page-content-wrapper">
            <!-- global navigation start -->
            <app-left-menu></app-left-menu>
            <!-- global navigation end -->

            <div class="page-right-panel">
                <!-- page title and filter start -->
                <section class="page-header-filter-wrapper">
                    <div class="header-filter-content">
                        <div class="page-header"><span class="page-title">{{cateNames}}</span></div>
                        <div class="btn-filter"><span class="glyphicon glyphicon-filter" id="nav-filter-action"></span></div>
                        <div class="filter-wrapper" id="nav-filter-wrapper">
                            <div class="mobile-filter-wrapper-overlay"></div>
                            <div class="filter-item-wrapper">
                                <div class="filter-header">
                                    Filter by
                                </div>
                                <div class="filter-close">
                                    <span id="btn-filter-close" class="glyphicon glyphicon-remove"></span>
                                </div>
                                <div class="search-location">
                                    <input type="tex" placeholder="Search by location" class="ctrl-input" (keyup)="selectLocation($event)">
                                </div>
                                <div class="sort-price">
                                    <select class="ctrl-dropdown" (change)="priceSorting($event)">
                                        <option value="">Sort By Price</option>
                                        <option value="asc">Ascending</option>
                                        <option value="desc">Descending</option>
                                    </select>
                                </div>
                                <div class="sort-brand">
                                    <!-- <select class="ctrl-dropdown">
                                        <option>Sort By Brand</option>
                                        <option>Gold Gym</option>
                                        <option>Hype Gym</option>
                                        <option>Indra gandhi institue of yoga</option>
                                    </select> -->

                                    <select class="ctrl-dropdown" (change)="brandSorting($event)">
                                        <option>Sort By Brand</option>
                                        <option *ngFor="let brandList of brandLists" value="{{brandList.id}}">{{brandList.name}}</option>
                                    </select>

                                </div>
                                <div class="btn-wrapper">
                                    <button class="btn-pri" id="btn-filter-pridone">Done</button>
                                    <button class="btn-sec" id="btn-filter-secclose">Close</button>
                                </div>
                            </div>
                        </div>

                        <!-- <div class='selected-filters-wrapper'>
                            <span class='field-label'>Tags:</span> <span class="active-filter">Indra Gandhi... <span
                                    class="glyphicon glyphicon-remove"></span></span>
                            <span class="active-filter">Gold Gym <span class="glyphicon glyphicon-remove"></span></span>
                            <span class="active-filter">24
                                hours <span class="glyphicon glyphicon-remove"></span></span>
                        </div> -->
                    </div>
                </section>
                <!-- page title and filter end -->

                <!-- products items start -->
                <div class='aggregator-product'>

                    <div class='product-item' *ngFor="let cateProductList of cateProductLists">
                        <a [routerLink]="['/detail', cateProductList.id]">
                            <div class='product-image-wrapper'>
                                <!-- <img src='../../assets/images/aggregator-img.jpg'> -->
                                <img src='http://52.14.36.239/imfit/app/webroot/media/branch_images/{{cateProductList.branch_image}}'>
                            </div>

                            <div class='product-details-wrapper'>
                                <div class='product-title'>{{cateProductList.name}}</div>
                                <div>{{cateProductList.branch_address}}</div>
                                <div class='product-address'>{{cateProductList.branch_city +",
                                    "+cateProductList.branch_state}}</div>
                                <div class="product-footer">
                                    <span class='product-recommend-price'>Rs.
                                        {{cateProductList.monthly_subscription_amt}}
                                        MONTHLY</span>
                                    <span class='offer-label'>{{cateProductList.offerCount}} Offers</span>
                                </div>
                            </div>
                        </a>
                    </div>

                </div>
                <!-- products items end -->
            </div>
        </div>
    </div>
</section>