<section class="page-content">
    <div class="main-content">
        <div class="page-content-wrapper">
            <!-- global navigation start -->
            <app-left-menu></app-left-menu>
            <!-- global navigation end -->

            <div class="main-content-wrapper">
                <!-- page title start -->
                <section class="page-title"> Following Brands <span class="intro-text">- View your favourites bands and
                        offers.</span> </section>
                <!-- page title end -->
                <!-- page main content start -->
                <ul class="cardlist-wrapper cardlist-two-col followingbrands">
                    <li class="cardlist-item" data-toggle="modal" data-target="#productOfferModal">
                        <figure class="card-img-wrapper"> <img src="images/aggregator-img.jpg"> </figure>
                        <div class="card-content">
                            <div class="product-title"><a href="user-aggregator-detailedpage.html">Indra Gandhi
                                    Institue of Yoga</a></div>
                            <div class="product-footer"><span class="offer-label float-left">3 OFFERS</span> </div>
                        </div>
                    </li>
                    <li class="cardlist-item">
                        <figure class="card-img-wrapper"> <img src="images/aggregator-img.jpg"> </figure>
                        <div class="card-content">
                            <div class="product-title"><a href="user-aggregator-detailedpage.html">Indra Gandhi
                                    Institue of Yoga</a></div>
                            <div class="product-footer"><span class="offer-label float-left">3 OFFERS</span> </div>
                        </div>
                    </li>
                    <li class="cardlist-item">
                        <figure class="card-img-wrapper"> <img src="images/aggregator-img.jpg"> </figure>
                        <div class="card-content">
                            <div class="product-title"><a href="user-aggregator-detailedpage.html">Indra Gandhi
                                    Institue of Yoga</a></div>
                            <div class="product-footer"><span class="offer-label float-left">3 OFFERS</span> </div>
                        </div>
                    </li>
                    <li class="cardlist-item">
                        <figure class="card-img-wrapper"> <img src="images/aggregator-img.jpg"> </figure>
                        <div class="card-content">
                            <div class="product-title"><a href="user-aggregator-detailedpage.html">Indra Gandhi
                                    Institue of Yoga</a></div>
                            <div class="product-footer"><span class="offer-label float-left">3 OFFERS</span> </div>
                        </div>
                    </li>
                </ul>

                <!-- page main content end-->
            </div>

        </div>
    </div>
</section>