<section class="page-content"> 
    <div class="main-content">
      <div class="page-content-wrapper">
        <section class='order-confirmation-screen'>
          <div class='order-left'>
              <div class='order-section-heading'>{{branchContent.name}}</div>
              <div class='placed-order-address'>{{branchContent.branch_city}}, {{branchContent.branch_state}}</div>
              <div class='placed-order-contactdetails'>Contact Person: {{branchContent.branch_contact_person}}</div>
              <div class='placed-order-contactdetails'>Contact Details: {{branchContent.branch_contact_no}}</div>
              <div class='order-subscription-amt'>
                <div class='order-section-heading'>Subscription</div>
                <div class="placed-order-amt">{{this.subscriptionType}} : Rs. {{_subscription_amount}}</div>
              </div>
              <div class='order-applyvocher'>
                <div class='order-section-heading'>Apply Vocher</div>
                <!--<input type='text' value='IMFITNEW' class="vocher-field">
                <div class='view-vochers'>View Vochers</div>-->
                <div class="vocher-row">
                  <h2><span class="vocher-code">IMFIT</span> Save 15% for all users <span class="show-details" data-toggle="modal" data-target="#ShowVocherDetailsModal">Show Details</span></h2>
                  <!-- Modal -->
                  <div class="modal fade" id="ShowVocherDetailsModal" tabindex="-1" role="dialog" aria-labelledby="ShowVocherDetailsModal" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="exampleModalLabel">IMFIT Save 15% for new users</h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">
                          <ul class="coupon-term-conditions">
                              <li>Save 15% on registration first time.</li>
                              <li>Coupon is allowed for Gym purpose only.</li>
                              <li>Existing users can avail this coupon.</li>
                              <li>The coupon is valid till 30-05-2019.</li>
                              <li>MyFitness site have complete right to stop use of this coupon at any time.</li>
                          </ul>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>
                      </div>
                    </div>
                  </div>                
                  <button class="btn-applied-vochers"><span class="glyphicon glyphicon-ok"></span> Applied</button>
                </div>
                <div class="vocher-row">
                  <h2><span class="vocher-code">NEWUSER</span> Save 14% for new users <span class="btn-link-only show-details" data-toggle="modal" data-target="#ShowVocherDetailsModal">Show Details</span></h2>
                  <button class="btn-apply-vochers">Apply</button>
                </div>
                <div class="vocher-row">
                  <h2><span class="vocher-code">ILUVYOGA</span> Save 10% on Yoga centers <span class="btn-link-only show-details" data-toggle="modal" data-target="#ShowVocherDetailsModal">Show Details</span></h2>
                  <button class="btn-apply-vochers">Apply</button>
                </div>
                <div class="vocher-row">
                  <h2><span class="vocher-code">FITNESSDAY</span> Save 10% on FITNESSDAY <span class="btn-link-only show-details" data-toggle="modal" data-target="#ShowVocherDetailsModal">Show Details</span></h2>
                  <button class="btn-apply-vochers">Apply</button>
                </div>
                <div class="vocher-row">
                  <h2><span class="vocher-code">FORSPOUSE</span> Save 10% for your loved ones <span class="btn-link-only show-details" data-toggle="modal" data-target="#ShowVocherDetailsModal">Show Details</span></h2>
                  <button class="btn-apply-vochers">Apply</button>
                </div>
              </div>
          </div>
          <div class='order-amt-right'>
              <div class="order-section-heading">Total Amount</div>
              <table border="0" class="grid_orderconfirm_charges">                
                  <tr>
                  <td>Charges</td>
                  <td class="order-amt-col">Rs. {{_subscription_amount}}</td>
                  </tr>
                  <tr>
                  <td class="order-charges-div">Discount</td>
                  <td class="order-amt-col order-charges-div order-discount-amt">Rs. {{discount_amount}}</td>
                  </tr>
                  <tr>
                  <td class="order-charges-topdiv">Balance</td>
                  <td class="order-amt-col order-charges-topdiv">Rs. {{balance_amount}}</td>
                  </tr>
                  <tr>
                  <td>GST (state 9%)</td>
                  <td class="order-amt-col">Rs. {{gst_state_amount}}</td>
                  </tr>
                  <tr>
                  <td class="order-charges-div">GST (Center 9%)</td>
                  <td class="order-amt-col order-charges-div">Rs. {{gst_center_amount}}</td>
                  </tr>
                  <tr>
                  <td class='order-charges-topdiv'>Total Amount</td>
                  <td class="order-amt-col order-charges-topdiv">Rs. {{total_amount}}</td>
                  </tr>
                  </table>
              
              <div class="order-payment-action">
                <button class="button-make-payment" onClick="window.location.href='user-aggregator-paymentconfirmation.html'">Make Payment</button>
              </div>
              
          </div>
        </section>
      </div>
    </div>
  </section>