<section class="page-content">
    <!-- header start -->
    <header class="page-header">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar"> <span
                class="glyphicon glyphicon-menu-hamburger"></span>
        </button>
        <a href="index.html" class="brand-logo"><img src="../../assets/images/brand-logo.png"></a>
        <div class="mobile-ctrl-header">
            <div class="header-links-wrapper">
                <div class="search-wrapper">
                    <div class="mobtab-search-bar">
                        <div class="btn-search" id="SearchModal-MobTab"><span class="glyphicon glyphicon-search"></span></div>
                    </div>
                    <div class="desktop-search-bar">
                        <input type="text" placeholder="Search for videos, people, trainers" class="input-search">
                        <button class="btn-search">
                            <span class="glyphicon glyphicon-search"></span>
                        </button>
                    </div>
                </div>
                <div class="notification-wrapper"><span class="notification-count">5</span></div>
                <div class="userlogin-wrapper" data-toggle="modal" data-target="#LoginModal"></div>
            </div>
        </div>
    </header>
    <!-- header end -->

    <div class="main-content">
        <div class="page-content-wrapper">
            <!-- global navigation start -->
            <app-left-menu></app-left-menu>
            <!-- global navigation end -->

            <div class="page-right-panel">
                <!-- page title and filter start -->
                <section class="page-header-filter-wrapper">
                    <div class="header-filter-content">
                        <div class="page-header"><span class="page-title">Gyms</span> - look for gyms in nearby places</div>
                    </div>
                </section>
                <!-- page title and filter end -->

                <!-- products items start -->
                <div class='aggregator-detailed-product'>
                    <div class='detailed-section'>
                        <div class='detailed-image-wrapper'>

                            <!-- slider image start -->
                            <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                                <div class="carousel-inner" *ngFor="let branchImage of branchImages">
                                    <div class="carousel-item active">
                                        <img class="d-block w-100" src="http://localhost/imfit/app/webroot/media/branch_images/{{branchImage.branch_image}}"
                                            alt="First slide">
                                    </div>
                                </div>
                                <a class="carousel-control-prev" href="#carouselExampleControls" role="button"
                                    data-slide="prev">
                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                    <span class="sr-only">Previous</span>
                                </a>
                                <a class="carousel-control-next" href="#carouselExampleControls" role="button"
                                    data-slide="next">
                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                    <span class="sr-only">Next</span>
                                </a>
                            </div>
                            <!-- slider image end -->

                        </div>
                        <div class='detailed-content-wrapper' *ngFor="let branchContent of branchContents">
                            <div class='product-title'>{{branchContent.name}}</div>
                            <div class='product-address'>{{branchContent.branch_address}},
                                {{branchContent.branch_city}}</div>
                            <div class='contact-details'>Contact Details: {{branchContent.branch_contact_no}}</div>
                            <div class='detailed-offer-wrapper'> <span class='offer-label'>Offer:</span> <span class='offer-details'>Get
                                    discount Rs. 1000 on subscription of 3 months</span> </div>
                        </div>
                    </div>
                    <div class="detailed-sectionheading" *ngFor="let branchContent of branchContents">
                        <header class="header-wrapper">
                            <h2>Subscription</h2>
                        </header>
                        <div class="subscription-plan">
                            <div class="subscription-item">
                                <div class="subscription-label">Monthly</div>
                                <div class="subscription-price">Rs. {{branchContent.monthly_subscription_amt}}</div>
                                <div class="custom-control custom-radio">
                                    <input type="radio" id="customRadio1" name="customRadio" class="custom-control-input">
                                    <label class="custom-control-label" for="customRadio1"></label>
                                </div>
                            </div>
                        </div>
                        <div class="subscription-plan recommended-plan">
                            <div class="subscription-item"> <span class="glyphicon glyphicon-star"></span>
                                <div class="subscription-label">Quarterly</div>
                                <div class="subscription-price">Rs. {{branchContent.quaterly_subscription_amt}}</div>
                                <div class="custom-control custom-radio">
                                    <input type="radio" id="customRadio1" name="customRadio" class="custom-control-input">
                                    <label class="custom-control-label" for="customRadio1"></label>
                                </div>
                            </div>
                        </div>
                        <div class="subscription-plan">
                            <div class="subscription-item">
                                <div class="subscription-label">Half Yearly</div>
                                <div class="subscription-price">Rs. {{branchContent.halfyearly_subscription_amt}}</div>
                                <div class="custom-control custom-radio">
                                    <input type="radio" id="customRadio1" name="customRadio" class="custom-control-input">
                                    <label class="custom-control-label" for="customRadio1"></label>
                                </div>
                            </div>
                        </div>
                        <div class="subscription-plan">
                            <div class="subscription-item">
                                <div class="subscription-label">Yearly</div>
                                <div class="subscription-price">Rs. {{branchContent.yearly_subscription_amt}}</div>
                                <div class="custom-control custom-radio">
                                    <input type="radio" id="customRadio1" name="customRadio" class="custom-control-input">
                                    <label class="custom-control-label" for="customRadio1"></label>
                                </div>
                            </div>
                        </div>
                        <div class="product-action detailedpage-enrollment">
                            <button class="button-enroll" onClick="window.location.href='user-aggregator-paymentpage.html'">Enroll
                                Now</button>
                            <div class="product-enrolled"> 24 People Enrolled </div>
                        </div>
                    </div>
                    <div class="detailed-sectionheading">
                        <header class="header-wrapper">
                            <h2>Programs</h2>
                        </header>
                        <ul class="nav nav-tabs" id="myTab" role="tablist">
                            <li class="nav-item"> <a class="nav-link active show" id="home-tab" data-toggle="tab" href="#home"
                                    role="tab" aria-controls="home" aria-selected="true">Module 1</a> </li>
                            <li class="nav-item"> <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile"
                                    role="tab" aria-controls="profile" aria-selected="false">Module 2</a> </li>
                            <li class="nav-item"> <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact"
                                    role="tab" aria-controls="contact" aria-selected="false">Module 3</a> </li>
                        </ul>
                        <div class="tab-content" id="myTabContent">
                            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                                Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu
                                stumptown aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg
                                carles vegan helvetica. Reprehenderit butcher retro keffiyeh dreamcatcher synth. Cosby
                                sweater eu banh mi, qui irure terry richardson ex squid. Aliquip placeat salvia cillum
                                iphone. Seitan aliquip quis cardigan american apparel, butcher voluptate nisi qui.</div>
                            <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">williamsburg
                                carles vegan helvetica. Reprehenderit butcher retro keffiyeh dreamcatcher synth. Cosby
                                sweater eu banh mi, qui irure terry richardson ex squid.</div>
                            <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">Raw
                                denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown
                                aliqua, retro synth master cleanse. Mustache cliche tempor,</div>
                        </div>
                    </div>
                    <div class="detailed-sectionheading">
                        <header class="header-wrapper">
                            <h2>Other gyms in same location</h2>
                        </header>
                        <div class="other-products-slider">
                            <ul>
                                <li class="other-product-item">
                                    <div class="other-product-brand"><img src=''></div>
                                    <div class="other-product-title">Hype Gym</div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- products items end -->
            </div>

        </div>
    </div>
</section>