<section class="page-content">
    <div class="main-content">
        <div class="page-content-wrapper">
            <!-- global navigation start -->
            <app-left-menu></app-left-menu>
            <!-- global navigation end -->

            <div class="main-content-wrapper">
                <!-- page title start -->
                <section class="page-title">
                    Manage Password <span class="intro-text">- Reset your password</span>
                </section>
                <!-- page title end -->
                <!-- page main content start -->

                <div class="alert alert-success" *ngIf="success">
                    {{successMessage}}
                </div>
                <div class="alert alert-danger" *ngIf="error">
                    {{errorMessage}}
                </div>

                <form (ngSubmit)="updatePassword()" #form="ngForm" autocomplete="nope">
                    <section class="form-section">
                        <div class="row">
                            <div class="col-sm-12 field-label">Enter existing password <span class="icon-asterisk">*</span></div>
                            <div class="col-sm-12 field-value">
                                <!-- <input type="hidden" name="user_id" value="{{user_id.user_id}}"> -->
                                <input name="existing_password" #passwordExistingFrom="ngModel" [(ngModel)]="existing_password"
                                    type="password" id="input-existing-password" class="form-control" placeholder="Password"
                                    [class.form-control-danger]="passwordExistingFrom.invalid && passwordExistingFrom.touched"
                                    required>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 field-label">Enter new password <span class="icon-asterisk">*</span></div>
                            <div class="col-sm-12 field-value">
                                <input name="update_password" #passwordFrom="ngModel" [(ngModel)]="password" type="password"
                                    id="input-update-password" class="form-control" placeholder="Password"
                                    [class.form-control-danger]="passwordFrom.invalid && passwordFrom.touched" required>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 field-label">Re-enter new password <span class="icon-asterisk">*</span></div>
                            <div class="col-sm-12 field-value">
                                <!-- <input type="text" class="form-control" value=""> -->
                                <input name="update_confirm_password" #passwordConfirmFrom="ngModel" [(ngModel)]="confirm_password"
                                    type="password" id="input-update-confirm-password" class="form-control" placeholder="Confirm Password"
                                    [class.form-control-danger]="passwordConfirmFrom.invalid && passwordConfirmFrom.touched"
                                    required>
                            </div>
                        </div>
                        <!-- <div class="row">
                        <div class="col-sm-12 field-label">Enter captcha <span class="icon-asterisk">*</span></div>
                        <div class="col-sm-12 field-value"><input type="text" class="form-control" value=""></div>
                    </div> -->
                        <div class="row form-footer-buttonwrapper">
                            <div class="col-sm-12">
                                <button class="button button-primary">Update my password</button>
                                <!-- <button class="button button-territory">Cancel</button> -->
                            </div>
                        </div>
                    </section>
                </form>
                <!-- page main content end-->
            </div>

        </div>
    </div>
</section>