<header class="page-header">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar"> <span class="glyphicon glyphicon-menu-hamburger"></span> </button>
    <a href="index.html" class="brand-logo"><img src="../../assets/images/brand-logo.png"></a>
    <div class="mobile-ctrl-header">
      <div class="header-links-wrapper">
          <div class="search-wrapper">
            <div class="mobtab-search-bar">
              <div class="btn-search" id="SearchModal-MobTab"><span class="glyphicon glyphicon-search"></span></div>
            </div>
            <div class="desktop-search-bar">
              <input type="text" placeholder="Search for videos, people, trainers" class="input-search">
  <button class="btn-search">
  <span class="glyphicon glyphicon-search"></span>
  </button>
            </div>
         </div>    
        <div class="notification-wrapper"><span class="notification-count">5</span></div>
        <div class="userlogin-wrapper" data-toggle="modal" data-target="#LoginModal"></div>
      </div>
    </div>
  </header>