<!-- header start -->
<header class="page-header">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar"> <span class="glyphicon glyphicon-menu-hamburger"></span>
  </button>
  <a href="./" class="brand-logo"><img src="../../assets/images/brand-logo.png"></a>
  <div class="mobile-ctrl-header">
    <div class="header-links-wrapper">
      <div class="search-wrapper">
        <div class="mobtab-search-bar">
          <div class="btn-search" id="SearchModal-MobTab"><span class="glyphicon glyphicon-search"></span></div>
        </div>
        <div class="desktop-search-bar">
          <input type="text" placeholder="Search for videos, people, trainers" class="input-search">
          <button class="btn-search">
            <span class="glyphicon glyphicon-search"></span>
          </button>
        </div>
      </div>
      <div class="notification-wrapper"><span class="notification-count">5</span></div>
      <div class="userlogin-wrapper" data-toggle="modal" data-target="#LoginModal" *ngIf="title==null"></div>
      <div class="userlogin-wrapper user-logined" *ngIf="title!=null">
        <div class="user-loged-in">
          <div class="user-logedin-control" id="userlogedinMenu" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">
            <span class="glyphicon glyphicon-menu-down"></span>
          </div>
          <div class="dropdown-menu show" aria-labelledby="userlogedinMenu" x-placement="bottom-start">
            <span class="user-logedin-name">Welcome <br>{{title.user_name}} </span>
            <a [routerLink]="['/user/profile']" class="dropdown-item">View Profile</a>
            <a [routerLink]="['/user/orders']" class="dropdown-item" href="#">Placed Orders</a>
            <a [routerLink]="['/user/brands']" class="dropdown-item" href="#">Following Brands</a>
            <a [routerLink]="['/user/manage-password']" class="dropdown-item" href="#">Manage Account</a>
            <a class="dropdown-item" href="#" routerLink="logout">Sign Out</a>
          </div>
        </div>
      </div>

      <!-- <div class="userlogin-wrapper" style="margin-left:10px; margin-top: 10px;" *ngIf='user_name'>{{title}}</div>
      <div class="" *ngIf="user_name"><a href="/logout">Logout</a></div>
      <div class="dropdown-menu" aria-labelledby="userlogedinMenu" *ngIf='user_name'>
        <span class="user-logedin-name">Welcome <br>
          {{user_name.user_name}}
        </span>
        <a>logout</a>
      </div> -->
    </div>
  </div>
</header>
<!-- header end -->