<section class="page-content">
  <div class="main-content">
    <div class="page-content-wrapper">
      <section class='order-confirmation-screen'>

        <div class='order-left'>
          <div class='order-section-heading heading-red'><b>Transaction Failed</b> <span class="glyphicon glyphicon-warning-sign"></span>
          </div>
          <div class='placed-order-address'>Unfortunately, we couldn't collect payment on you have made.
            <br><br>
            This could happen due to following reasons.
            <ul type="square">
              <li>Page session timeout.
              <li>Incorrect card details.
              <li>Server is busy while making payment.</li>
            </ul>
          </div>
          <!-- <div class='placed-order-contactdetails'>Please click on below button to make the payment again. <br><br>
            <div class="order-payment-action">
              <button class="button-make-payment">Try Again</button>
            </div>
          </div> -->
        </div>

        <div class='order-amt-right'>
          <div class="order-section-heading">Total Amount</div>
          <table border="0" class="grid_orderconfirm_charges">
            <tr>
              <td>Charges</td>
              <td class="order-amt-col">Rs. {{orderContent.charges}}</td>
            </tr>
            <tr>
              <td class="order-charges-div">Discount</td>
              <td class="order-amt-col order-charges-div order-discount-amt">Rs. {{orderContent.discount}}</td>
            </tr>
            <tr>
              <td class="order-charges-topdiv">Balance</td>
              <td class="order-amt-col order-charges-topdiv">Rs. {{balance}}</td>
            </tr>
            <tr>
              <td>GST (state 9%)</td>
              <td class="order-amt-col">Rs. 67</td>
            </tr>
            <tr>
              <td class="order-charges-div">GST (Center 9%)</td>
              <td class="order-amt-col order-charges-div">Rs. 67</td>
            </tr>
            <tr>
              <td class='order-charges-topdiv'>Total Amount</td>
              <td class="order-amt-col order-charges-topdiv">Rs. {{orderContent.total_amount}}</td>
            </tr>
          </table>
        </div>
      </section>
    </div>
  </div>
</section>